body {
    text-align: center;
}

body.dark {
    background: black;
}

h1 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: transparent;
    border: 2px solid  hotpink;
    color: hotpink;
    padding: 0.5rem 1.5rem;
    border-radius: 15rem;
}

